<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">
  <section class="status">
    <h3>¡Planeta X avistado a Y grados!</h3>
  </section>
  <a routerLink="/">Home</a>
  <section class="rocket">
    <div class="rocket-data">
      <app-motor [motorState]="motorState" (onIgnite)="listenMotor($event)"></app-motor>
      <app-cockpit
        [igniteDelay]="igniteDelay"
        [motorState]="motorState"
        [motorStateChange]="motorStateChange"></app-cockpit>
    </div>
  </section>

  <div class="tresA">
    <img src="assets/logo.png" alt="3 Astronauts">
  </div>
</div>
<pre>
  {{motorState}}
  {{igniteDelay}}
</pre>
