<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">
  <section class="status">
    <h3>¡Planeta X avistado a Y grados!</h3>
  </section>

  <section class="rocket">
    <div class="rocket-data">
      <div class="rocket-data-motor">
        <a href="#" class="round-button">IGNITE</a>
      </div>
      <div class="cabin rocket-data-cockpit">
        <div class="counter">10</div>
      </div>
    </div>
  </section>

  <div class="tresA">
    <img src="assets/logo.png" alt="3 Astronauts">
  </div>
</div>